# Visual Studio
.vs/

# Build folders
bin/
obj/

# User files
*.user
*.suo

# Cache
*.cache

# Logs
*.log

# VS Code (si lo usas)
.vscode/

# Archivos subidos por usuarios (contenido generado en tiempo de ejecución)
wwwroot/uploads/